[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.0.0-cp37-cp37m-win_amd64.whl"}
numpy = "*"
matplotlib = "*"
scipy = "*"

[requires]
python_version = "3.7"
